.background-footer {
    background-color: #783D1A;
  }
  
.footer {
    padding: 2rem 0;
    width: 100%;
}
  
.footer a {
    color: black;
}
  
.bg-fond {
    background-color: #783D1A;
}
  
.bg-form {
    background-color: #BA9371;
}
  
.text-color {
    color: #783D1A;
}
  
.btn-login,
.btn-color {
    background-color: #C56929;
    border: none;
}
  
.min-vh-50 {
    min-height: 50vh;
    display: flex;
    align-items: center;
}
  
.background-page {
    background-color: #BA9371;
}
  
.background-nav {
    background-color: #C56929;
}
  
.nav-link {
    color: #783D1A;
}
  
.navbar-brand img {
    height: 40px;
}
  
.form-select {
    background-color: #783D1A;
}

#map {
    width: 100%;
    height: 100vh;
  }